.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(199, 199, 199);
  display: flex;
  justify-content: end;
  .center-div {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .leftPagination {
      margin-right: 7px;
      cursor: pointer;
      font-size: 24px;
      color: white;
    }
    .boxPagination {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      position: relative;
      display: flex;
      background-color: black;

      align-items: center;
      justify-content: center;
      .pageNumber {
        margin: 0;
        font-size: 20px;
        color: white;
      }
    }
    .rightPagination {
      margin-left: 7px;
      cursor: pointer;
      font-size: 20px;
      color: white;
    }
  }
}
