.action-div {
  display: flex;
  gap: 20px;
  a {
    Button {
      background-color: green;
      color: white;
      border: none;
      &:hover {
        background-color: green;
        color: white !important;
      }
    }
  }
}


